html,
body,
section {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 80%;
  height: 80%; */
  z-index: -1;
  /* Ensure video is behind any other content */
}

.vid video {
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  /* Ensures video covers the entire container */
}

.atras {
  position: relative;
  z-index: 1;
  /* Ensures the link is above the video */
  /* Add other styles for your link as needed */
}