html,
body,
section {
  height: 100%;
  padding: 0;
  overflow: hidden;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.vid {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

}

.vid video {
  object-fit: cover;

}

.atras {
  position: relative;
  z-index: 1;
}