body {
  width: 90%;
  background-color: black;
  font-weight: normal;
}

h1 {
  margin-left: 40%;
  margin-top: -2%;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
  color: white;
  font-size: 5em;
}

p {
  color: white;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
  font-size: 1em;
  font-family: 'Andale Mono';
  font-weight: normal;
  font-style: cursive;
  width: 100%;
}

hr {
  position: absolute;
  width: 50%;
}

a {
  text-decoration: none;
}

.header {
  width: 50%;
}


.fa-long-arrow-alt-left {
  font-size: 2em;
  color: grey;
}

.atras {
  position: fixed;
  top: 0;
  left: 10px;
  width: 50px;
  opacity: 1;
}

.atras:hover {
  opacity: .5;
}